{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ reverse_url('index') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ experiment_url }}">Package {{ filename | truncate(60) }}</a></li>
    <li class="breadcrumb-item" aria-current="page">Web capture</li>
  </ol>
</nav>

<h1 class="mb-3">Web Capture</h1>

<h2 class="mb-3">Info about your files</h2>

<ul>
  <li class="fs-5"><strong>RPZ file</strong>: {{ filename }}</li>
{% if wacz %}
  <li class="fs-5"><strong>WACZ file</strong>: {{ wacz }}, {{ wacz.filesize }} bytes</li>
{% else %}
  <li class="fs-5"><strong>No WACZ</strong> file detected. Pick an option below to generate or add  one.</li>
{% endif %}
</ul>

<h2 class="mt-3">Edit parameters for web capture</h2>

<p></p>

<form method="POST">
{{ xsrf_form_html() }}
  <div class="mb-3 col-md-8">
    <label for="hostname" class="form-label">Hostname (optional)</label>
    <span id="hostnameHelpInline" class="form-text fst-italic">Enter the hostname the server is expecting. This runs on ReproServer (not locally).</span>
    <input type="text" name="hostname" id="hostname" aria-describedby="hostnameHelp" class="form-control" value="{{ hostname }}">
    <div id="hostnameHelp" class="form-text">Example: localhost:8080</div>
  </div>
  
  <div class="mb-3 col-md-8">
    <label for="port_number" class="form-label">Port number</label>
    <span id="hostnameHelpInline" class="form-text fst-italic">Enter the port number on which the web server listens.</span>
    <input type="number" name="port_number" id="port_number" aria-describedby="portNumberHelp" class="form-control" min="1" max="65535" value="{{ port_number }}">
    <div id="portNumberHelp" class="form-text">Example: 9090</div>
  </div>
  
  <div class="my-3">
    <div class="row">
      <div class="col text-center">
        <h3>Manually capture content</h3>
        <p>Pick this if you'd like to click around your web app manually, to record as many elements as you want.</p>
        <input type="submit" formaction="{{ reverse_url('webcapture_start_record', upload_short_id) }}" class="btn btn-primary fw-bold" value="Record from browser">
      </div>
      <div class="col text-center">
        <h3>Start automated capture</h3>
        <p>ReproZip-Web will attempt to capture everything your web app needs to run again.</p>
        <input type="submit" formaction="{{ reverse_url('webcapture_start_crawl', upload_short_id) }}" class="btn btn-primary mx-4 fw-bold" value="Start automated crawl">
      </div>
      <div class="col text-center">
        <h3>Upload existing WACZ</h3>
        <p>If you have a WACZ file, upload it here and ReproZip-Web will combine it with the RPZ.</p>
        <input type="submit" formaction="{{ reverse_url('webcapture_upload_wacz', upload_short_id) }}" class="btn btn-secondary fw-bold" formmethod="GET" value="Upload existing file">
      </div>
    </div>
  </div>
    
  {% if wacz %}
  <div class="mb-3">
    <input type="submit" formaction="{{ reverse_url('webcapture_download', upload_short_id, wacz=wacz.hash) }}" class="btn btn-primary" value="Download the finished Web RPZ file">
  </div>
  <div class="mb-3">
    <input type="submit" formaction="{{ reverse_url('webcapture_preview', upload_short_id, wacz=wacz.hash) }}" class="btn btn-secondary" value="Preview the result">
  </div>
  {% endif %}
</form>

{% endblock content %}
